<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Smart Playlist Generator{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/app/css/reset.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/app/css/main.min.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div class="header-content">
                <div class="logo"></div>
                <h1>Smart Playlist Generator</h1>
            </div>
        </header>
        <div id="content">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
        <footer>

        </footer>
    </body>
</html>
