{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
    <div class="main-container  {{ app.request.attributes.get("_route") }}">
        <div class="tile-left">
            <div class="tile-content">
                {% block left %}{% endblock %}
            </div>
        </div>
        <div class="tile-right">
            <div class="tile-content">
                {% block right %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}