{% extends 'two-tiles.html.twig' %}

{% block left %}
    <img src="{{asset('bundles/app/images/logo.png')}}" />
    <div class="description">Préparation de la génération</div>
{% endblock %}

{% block right %}
    {{ form_start(form) }}
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
{% endblock %}