{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="tile-left">
                <div class="tile-content">
                    <div class="description">Le "Smart Playlist Generator" vous permet de générer une playlist à partir de vos albums Deezer favoris !</div>
                </div>
            </div>
            <div id="tile-right">
                <div class="tile-content">
                    <div class="connect-hint">Cliquez sur le bouton ci-dessous pour vous connecter à Deezer et permettre au générateur de créer votre playlist aléatoire.</div>
                    <div class="generate">
                        <a href="{{ path('deezer_playlist_generate') }}">Générer une playlist ! </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
