{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="presentation">
                <img src="{{asset('bundles/app/images/logo.png')}}" />
                <div class="description">Le "Smart Playlist Generator" vous permet de générer une playlist à partir de vos albums Deezer favoris !</div>
            </div>
            <div id="action">
                Cliquez sur le bouton ci-dessous pour vous connecter à Deezer et permettre au générateur de créer votre playlist aléatoire.
                <div class="generate">
                    <a href="{{ path('deezer_playlist_generate') }}">Générer une playlist ! </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
