{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <a href="{{ deezer_url }}">Récupérer mes favoris Deezer</a>
            <p>Access token : {{ access_token }}</p>
        </div>
    </div>
{% endblock %}
