{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {%  if access_token %}
                <div class="generate">
                    <a href="{{ path('deezer_playlist_generate') }}">Générer une playlist ! </a>
                </div>
            {% else %}
                <div class="connection">
                    <a class="connect-link" href="{{ deezer_url }}">Se connecter avec Deezer</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
