{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="tile-left">
                <div class="tile-content">
                    <img src="{{asset('bundles/app/images/logo.png')}}" />
                    <div class="description">Le "Smart Playlist Generator" vous permet de générer une playlist à partir de vos albums Deezer favoris !</div>
                </div>
            </div>
            <div id="tile-right">
                <div class="tile-content">
                    <div class="connect-hint">Cliquez ci-dessous pour préparer la génération de votre playlist.</div>
                    <div class="generate">
                        <a href="{{ deezer_url }}"> Se connecter </a>
                    </div>
                </divclass>
            </div>
        </div>
    </div>
{% endblock %}
