@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Dosis');

html {
  body {
    background-color: @background-light;
    color: @background-light;
    font-family: 'Verdana', sans-serif;
    overflow-y: hidden;
    header {
      -moz-box-shadow: 0px 3px 5px @color-shadow-box;
      -webkit-box-shadow: 0px 3px 5px @color-shadow-box;
      background-color: @color-secondary-2-4;
      box-shadow: 0px 3px 5px @color-shadow-box;
      height: 100px;
      position: fixed;
      width: 100%;

      .header-content {

        h1 {
          display: inline-block;
          font-size: 30px;
          font-weight: bold;
          margin-top: 40px;
          position: relative;
          vertical-align: top;
        }

        .logo {
          background-image: url('../images/logo.png');
          background-size: 90px 90px;
          display: inline-block;
          height: 90px;
          margin: 5px;
          width: 90px;
        }

        .user-panel {
          float: right;
          margin-right: 110px;
          .user-welcome {
            margin-right: 5px;
          }
        }

        .menu {
          display: inline-block;
          display: inline-block;
          right: 600px;
          position: absolute;
          top: 45px;
          ul {
            display: inline-block;
            li {
              background-color: @color-secondary-2-2;
              border: 0;
              border-radius: 5px;
              box-shadow: 0 0 20px 0 rgba(100,100,100,.49);
              color: ghostwhite;
              display: inline-block;
              font-size: 16px;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              cursor: pointer;
              height: 45px;
              &:hover {
                background-color: @color-secondary-2-1;
                box-shadow: 0 5px 5px 0 rgba(100,100,100,0.6);
              }
            }
          }
        }

      }
    }

    .alert {
      background-color: #d2f85e;
      border: 1px solid #a1d500;
      padding: 5px;
      margin-bottom: 15px;
      font-size: 15px;
      color: @background-dark;
      a {
        color: @background-dark;
      }
    }

    .main-container {
      .tile-left {
        background-color: #000818;
        border-right: 3px solid @color-border;
        color: @background-light;
        float: left;
        height: calc(~'100vh');
        overflow-y: hidden;
        vertical-align: middle;
        width: calc(~'50% - 3px');
      }

      .tile-right {
        background-color: @background-light;
        color: @background-dark;
        float: right;
        font-size: 21px;
        height: 100vh;
        overflow-y: scroll;
        text-align: center;
        vertical-align: top;
        width: 50%;
      }
    }
    button {
      background-color: @color-secondary-2-1;
      border: 0px;
      border-radius: 5px;
      box-shadow: 0px 0px 20px 0px @color-shadow-box;
      color: @background-light;
      display: inline-block;
      font-size: 16px;
      margin-top: 30px;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
    a {
      color: @background-light;
      font-style: normal;
      text-decoration: none;
      &:visited{
        color: inherit;
      }
      &:hover{
        color: inherit;
      }
      &:active {
        color: inherit;
      }
      &.button-secondary {
        background-color: @color-secondary-1-1;
        border: 0px;
        border-radius: 5px;
        box-shadow: 0px 0px 20px 0px @color-shadow-box;
        color: @background-dark;
        display: inline-block;
        font-size: 16px;
        margin-top: 30px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}