@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Dosis');

.playlist_prepare {
  .tile-left {
    .tile-content {

      margin-top: 160px;
      text-align: center;

      img {
        margin-left: 10%;
        width: 150px;
      }

      .description {
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 65px;
        text-align: center;
        vertical-align: top;
        width: 50%;
        display:inline-block;
      }

      .to-listen-disclaimer {
        font-size: 15px;
        font-style: oblique;
        margin-top: 30px;
        margin-bottom: 20px;
      }

      .to-listen {
        padding: 5px;
        width: 70%;
        margin: auto;
        img {
          width: 150px;
          margin: 0px;
          border: 2px solid @color-secondary-2-4;
        }
        .description {
          display: inline-block;
          text-align: left;
          margin-top: 0px;
          .title {
            font-size:30px;
            &:hover {
              color: @color-secondary-1-2;
            }
          }
          .artist {
            font-size: 20px;
            font-style: oblique;
            border-bottom: 2px solid ghostwhite;
          }

        }
      }
    }
  }

  .tile-right {
    .tile-content {
      margin-left: auto;
      margin-right: auto;
      margin-top: 150px;
      width: 80%;
      .title {
        font-size: 25px;
        text-align: left;
        padding: 20px;
        background-color: @rgba-secondary-2-0;
        color: white;
      }
      .description {
        font-size: 15px;
        text-align: left;
        margin: 10px;
        margin-bottom: 20px;
      }
      form {
        .form-row {
          width: 100%;
          background-color: #F1F1F1;
          text-align: left;
          .label {
            display: inline-block;
            background-color: @color-secondary-1-1;
            label {
              display: inline-block;
              font-size: 15px;
              padding: 10px;
              width: 210px;
            }
          }
          .value {
            display: inline-block;
            width: calc(100% - 240px);
            input {
              height: 20px;
            }
          }
        }
      }
    }
  }
}
