<div class="user-panel">
    {% if app.user %}
        <span class="user-welcome">Bonjour {{ app.user.username }} !</span><a class="button-secondary" href="{{ path('user_logout') }}">Déconnexion</a>
    {% endif %}
</div>